<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="petmily.mapper.AdoptMapper">

    <!--=======BasicMapper 메소드======= -->
    <select id="selectByPk" resultType="petmily.domain.adopt.Adopt">
        select *
        from ADOPT
        where ADNUMBER = #{pk}
    </select>

    <insert id="insert">
        insert into ADOPT
        (MNUMBER, ABNUMBER, RESIDENCE, MARITALSTATUS, JOB, STATUS)
        values
        (#{mNumber}, #{abNumber}, #{residence}, #{maritalStatus}, #{job}, '처리중')
    </insert>

    <update id="update">
        update ADOPT
        set MNUMBER = #{mNumber}, ABNUMBER = #{abNumber}, RESIDENCE = #{residence}, MARITALSTATUS = #{maritalStatus}, JOB = #{job}, STATUS = #{status}
        where ADNUMBER = #{adNumber}
    </update>

    <delete id="delete">
        delete from ADOPT
        where ADNUMBER = #{pk}
    </delete>
    <!--=======BasicMapper 메소드 끝======= -->

    <!--============================== 회원 페이지 ============================== -->
    <!-- 회원 pk로 입양 상태 '완료' 여부 조회 -->
    <select id="selectCountAdoptedStatus" resultType="int">
        select count(STATUS)
        from ADOPT
        where MNUMBER = #{mNumber} and STATUS = '완료'
    </select>

    <!-- 입양 신청 내역(마이페이지) - 총 게시글 수 (페이징) -->
    <select id="selectCountBymNumber" resultType="int">
        select count(*)
        from ADOPT
        where MNUMBER = #{mNumber}
    </select>

    <!-- 입양 신청 내역(마이페이지) - 글 index -->
    <select id="selectIndexBymNumber" resultType="petmily.domain.adopt.Adopt">
        select *
        from (select ROWNUM as NUM, A.*
              from (select * from ADOPT where MNUMBER = #{mNumber} order by ADNUMBER DESC) A)
        where NUM between #{start} and #{end}
    </select>

    <!-- 유기동물 pk로 입양 조회 -->
    <select id="selectAllByAbNumber" resultType="petmily.domain.adopt.Adopt">
        select *
        from ADOPT
        where ABNUMBER = #{abNumber}
    </select>

    <!-- 유기동물 pk로 최근 입양 조회 -->
    <select id="selectAllCompleteByAbNumber" resultType="petmily.domain.adopt.Adopt">
        select *
        from ADOPT
        where ABNUMBER = #{abNumber} and STATUS = '완료' and ADNUMBER = (select max(ADNUMBER) from ADOPT)
    </select>


    <!--============================== 관리자 페이지 ============================== -->
    <!-- 관리자 insert (status 선택 가능 : 회원이 입양 신청할땐 '처리중' default) -->
    <insert id="adminInsert">
        insert into ADOPT(MNUMBER, ABNUMBER, RESIDENCE, MARITALSTATUS, JOB, STATUS)
        values (#{mNumber}, #{abNumber}, #{residence}, #{maritalStatus}, #{job}, #{status})
    </insert>

    <!-- 총 게시글 수 (페이징) -->
    <select id="selectCount" resultType="int">
        select count(*)
        from ADOPT
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                STATUS like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
    </select>

    <!-- 글 index -->
    <select id="selectIndex" resultType="petmily.domain.adopt.Adopt">
        select *
        from (select ROWNUM as NUM, AD.*
        from (select *
        from ADOPT
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                STATUS like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
        order by ADNUMBER desc
        ) AD)
        where NUM between #{start} and #{end}
    </select>

    <!-- 입양 승인관리 및 승인, 거절 페이지 총 게시글 수 (페이징) -->
    <select id="selectCountByStatus" resultType="int">
        select count(*)
        from ADOPT
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
    </select>

    <!-- 입양 승인관리 및 승인, 거절 페이지 게시글 index -->
    <select id="selectIndexByStatus" resultType="petmily.domain.adopt.Adopt">
        select *
        from (select ROWNUM as NUM, AD.*
        from (select *
        from ADOPT
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
        order by ADNUMBER desc
        ) AD)
        where (NUM between #{start} and #{end}) and STATUS = #{status}
    </select>

    <!-- 입양 승인버튼 -->
    <select id="adoptApprove">
        {call
            declare
            begin

            update ADOPT set STATUS = '완료' where STATUS = '처리중'
            and ABNUMBER = (select AD.ABNUMBER
            from ADOPT AD join ABANDONEDANIMAL AB
            on AB.ABNUMBER = AD.ABNUMBER
                where AD.ADNUMBER = #{pk});

            update ABANDONEDANIMAL set ANIMALSTATE = '입양'
            where ABNUMBER in (select AD.ABNUMBER
            from ADOPT AD join ABANDONEDANIMAL AB
            on AD.ABNUMBER = AB.ABNUMBER
                where AD.ADNUMBER = #{pk});

            end
            }
    </select>

    <!-- 입양 거절버튼 -->
    <select id="adoptRefuse">
        update ADOPT set STATUS = '거절' where STATUS = '처리중'
        and ABNUMBER = (select AD.ABNUMBER
        from ADOPT AD join ABANDONEDANIMAL AB
        on AB.ABNUMBER = AD.ABNUMBER
        where AD.ADNUMBER = #{pk})
    </select>

    <!-- 기존 입양정보 delete -->
    <delete id="deleteCompleteWhenUpdateAB">
        delete from ADOPT
        where ABNUMBER = #{abNumber} and STATUS = '완료'
    </delete>

    <!-- 입양 상태 '처리중' delete -->
    <delete id="deleteWaitingWhenUpdateAB">
        delete from ADOPT
        where ABNUMBER = #{abNumber} and STATUS = '처리중'
    </delete>
</mapper>