<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="petmily.mapper.MemberMapper">

    <!-- =======BasicMapper 메소드======= -->
    <select id="selectByPk" resultType="petmily.domain.member.Member">
        select *
        from MEMBER
        where MNUMBER = #{pk}
    </select>

    <insert id="insert">
        insert into MEMBER
        (ID, PW, NAME, BIRTH, GENDER, EMAIL, PHONE)
        values
        (#{id}, #{pw}, #{name}, #{birth}, #{gender}, #{email}, #{phone})
    </insert>

    <update id="update">
        update MEMBER
        set NAME = #{name}, EMAIL = #{email}, PHONE = #{phone}
        where MNUMBER = #{mNumber}
    </update>

    <delete id="delete">
        delete from MEMBER
        where MNUMBER = #{pk}
    </delete>
    <!-- =======BasicMapper 메소드 끝======= -->

    <!-- 아이디로 회원 정보 조회 -->
    <select id="selectMemberById" resultType="petmily.domain.member.Member">
        select *
        from MEMBER
        where ID = #{id}
    </select>

    <!-- 닉네임 조회 -->
    <select id="selectName" resultType="java.lang.String">
        select NAME
        from MEMBER
        where MNUMBER = #{pk}
    </select>

    <!-- 아이디로 비번 조회 -->
    <select id="selectPwById" resultType="java.lang.String">
        select PW
        from MEMBER
        where ID = #{id}
    </select>

    <!-- 비밀번호 변경 (마이페이지) -->
    <update id="updatePw">
        update MEMBER
        set PW = #{pw}
        where MNUMBER = #{mNumber}
    </update>

    <!-- 비밀번호 재설정 (비번찾기) -->
    <update id="resetPw">
        update MEMBER
        set PW = #{pw}
        where ID = #{id}
    </update>


    <!--================================== 관리자 페이지 ================================== -->
    <!-- 조건부 검색 - 총 회원 수 (페이징) -->
    <select id="selectCount" resultType="int">
        select count(*)
        from MEMBER
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                ID like '%' || #{keyword} || '%'
                or
                NAME like '%' || #{keyword} || '%'
                or
                BIRTH like '%' || #{keyword} || '%'
                or
                EMAIL like '%' || #{keyword} || '%'
                or
                PHONE like '%' || #{keyword} || '%'
                or
                GRADE like '%' || #{keyword} || '%'
                or
                GENDER like '%' || #{keyword} || '%'
                )
            </if>
        </where>
    </select>

    <!-- 조건부 검색 - 회원 index -->
    <select id="selectIndex" resultType="petmily.domain.member.Member">
        select *
        from (select ROWNUM as NUM, M.*
        from (select *
        from MEMBER
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                ID like '%' || #{keyword} || '%'
                or
                NAME like '%' || #{keyword} || '%'
                or
                BIRTH like '%' || #{keyword} || '%'
                or
                EMAIL like '%' || #{keyword} || '%'
                or
                PHONE like '%' || #{keyword} || '%'
                or
                GRADE like '%' || #{keyword} || '%'
                or
                GENDER like '%' || #{keyword} || '%'
                )
            </if>
        </where>
        order by MNUMBER desc
        ) M)
        where NUM between #{start} and #{end}
    </select>

    <!-- 모든 회원 리스트 조회 -->
    <select id="selectAll" resultType="petmily.domain.member.Member">
        select *
        from MEMBER
        order by MNUMBER
    </select>

    <!-- 회원 아이디 조회 -->
    <select id="selectMemberId" resultType="java.lang.String">
        select ID
        from MEMBER
        where MNUMBER = #{pk}
    </select>

    <!-- 회원정보 수정 -->
    <update id="updateAdmin">
        update MEMBER
        set ID = #{id}, PW = #{pw}, NAME = #{name}, BIRTH = #{birth}, GENDER = #{gender}, EMAIL = #{email}, PHONE = #{phone}
        where MNUMBER = #{mNumber}
    </update>

    <!--============================== 검증 ================================ -->
    <!-- 회원가입 검증 (아이디) -->
    <select id="selectIdCheck" resultType="int">
        select count(ID)
        from MEMBER
        where ID = #{id}
    </select>

    <!-- 회원가입 검증 (이메일) -->
    <select id="selectEmailCheck" resultType="int">
        select count(EMAIL)
        from MEMBER
        where EMAIL = #{email}
    </select>

    <!-- 회원가입 검증 (연락처) -->
    <select id="selectPhoneCheck" resultType="int">
        select count(PHONE)
        from MEMBER
        where PHONE = #{phone}
    </select>

    <!-- 회원정보 변경 검증 (아이디) : 관리자 -->
    <select id="selectIdCheckAtChange" resultType="int">
        select count(ID)
        from MEMBER
        where ID = #{id}
        and MNUMBER != #{mNumber}
    </select>

    <!-- 회원정보 변경 검증 (이메일) : 관리자+회원 -->
    <select id="selectEmailCheckAtChange" resultType="int">
        select count(*)
        from MEMBER
        where EMAIL = #{email}
        and MNUMBER != #{mNumber}
    </select>

    <!-- 회원정보 변경 검증 (연락처) : 관리자+회원 -->
    <select id="selectPhoneCheckAtChange" resultType="int">
        select count(*)
        from MEMBER
        where PHONE = #{phone}
        and MNUMBER != #{mNumber}
    </select>

    <!-- 아이디, 비번 찾기 검증 (이메일) -->
    <select id="selectMemberByEmail" resultType="petmily.domain.member.Member">
        select *
        from MEMBER
        where EMAIL = #{email}
    </select>
</mapper>