<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="petmily.mapper.TempMapper">

    <!--=======BasicMapper 메소드======= -->
    <select id="selectByPk" resultType="petmily.domain.temp.TempPet">
        select *
        from TEMPPET
        where TNUMBER = #{pk}
    </select>

    <insert id="insert">
        insert into TEMPPET
        (ABNUMBER, MNUMBER, RESIDENCE, MARITALSTATUS, JOB, TEMPDATE, TEMPPERIOD)
        values
        (#{abNumber}, #{mNumber}, #{residence}, #{maritalStatus}, #{job}, SYSDATE, 2)
    </insert>

    <update id="update">
        update TEMPPET
        set ABNUMBER = #{abNumber}, MNUMBER = #{mNumber}, TEMPDATE = #{tempDate}, TEMPPERIOD = #{tempPeriod},
            RESIDENCE = #{residence}, MARITALSTATUS = #{maritalStatus}, JOB = #{job}, STATUS = #{status}
        where TNUMBER = #{tNumber}
    </update>

    <delete id="delete">
        delete from TEMPPET
        where TNUMBER = #{pk}
    </delete>
    <!--=======BasicMapper 메소드 끝======= -->


    <!--=================================== 회원 페이지 =================================== -->
    <!-- 임보 신청 내역(마이페이지) - 총 게시글 수 (페이징) -->
    <select id="selectCountBymNumber" resultType="int">
        select count(*)
        from TEMPPET
        where MNUMBER = #{mNumber}
    </select>

    <!-- 임보 신청 내역(마이페이지) - 글 index -->
    <select id="selectIndexBymNumber" resultType="petmily.domain.temp.TempPet">
        select *
        from (select ROWNUM as NUM, T.*
        from (select * from TEMPPET
        where MNUMBER = #{mNumber} order by TNUMBER DESC) T)
        where NUM between #{start} and #{end}
    </select>


    <!--=================================== 관리자 페이지 =================================== -->
    <!-- 관리자 insert (status 선택 가능) -->
    <insert id="adminInsert">
        insert into TEMPPET
        (ABNUMBER, MNUMBER, RESIDENCE, MARITALSTATUS, JOB, TEMPDATE, TEMPPERIOD, STATUS)
        values
        (#{abNumber}, #{mNumber}, #{residence}, #{maritalStatus}, #{job}, #{tempDate}, #{tempPeriod}, #{status})
    </insert>

    <!-- 총 게시글 수 조회 (페이징) -->
    <select id="selectCount" resultType="int">
        select count(*)
        from TEMPPET
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                TEMPPERIOD like '%' || #{keyword} || '%'
                or
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                STATUS like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
    </select>

    <!-- 리스트 페이지 index -->
    <select id="selectIndex" resultType="petmily.domain.temp.TempPet">
        select *
        from (select ROWNUM as NUM, T.*
        from (select *
        from TEMPPET
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                TEMPPERIOD like '%' || #{keyword} || '%'
                or
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                STATUS like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
        order by TNUMBER desc
        ) T)
        where NUM between #{start} and #{end}
    </select>

    <!-- 임보 승인관리 및 승인, 거절 페이지 총 게시글 수 조회 (페이징) -->
    <select id="selectCountByStatus" resultType="int">
        select count(*)
        from TEMPPET
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                TEMPPERIOD like '%' || #{keyword} || '%'
                or
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
    </select>

    <!-- 임보 승인관리 및 승인, 거절 페이지 글 index -->
    <select id="selectIndexByStatus" resultType="petmily.domain.temp.TempPet">
        select *
        from (select ROWNUM as NUM, T.*
        from (select *
        from TEMPPET
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                TEMPPERIOD like '%' || #{keyword} || '%'
                or
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
        order by TNUMBER desc
        ) T)
        where (NUM between #{start} and #{end}) and STATUS = #{status}
    </select>

    <!-- 임시보호 승인버튼 -->
    <select id="tempApprove">
        {call
            declare
            begin

            update TEMPPET set STATUS = '완료' where STATUS = '처리중'
            and ABNUMBER = (select T.ABNUMBER
            from TEMPPET T join ABANDONEDANIMAL AB
            on AB.ABNUMBER = T.ABNUMBER
                where T.TNUMBER = #{pk});

            update ABANDONEDANIMAL set ANIMALSTATE = '임보'
            where ABNUMBER in (select T.ABNUMBER
            from TEMPPET T join ABANDONEDANIMAL AB
            on T.ABNUMBER = AB.ABNUMBER
                where T.TNUMBER = #{pk});

            end
            }
    </select>

    <!-- 임시보호 거절버튼 -->
    <select id="tempRefuse">
        update TEMPPET set STATUS = '거절'
        where STATUS = '처리중'
        and ABNUMBER = (select T.ABNUMBER
        from TEMPPET T join ABANDONEDANIMAL AB on AB.ABNUMBER = T.ABNUMBER
        where T.TNUMBER = #{pk})
    </select>

    <!-- 유기동물 pk로 임시보호 조회 -->
    <select id="selectAllByAbNumber" resultType="petmily.domain.temp.TempPet">
        select *
        from TEMPPET
        where ABNUMBER = #{abNumber}
    </select>

    <!-- 유기동물 pk로 최근 임보 조회 -->
    <select id="selectAllCompleteByAbNumber" resultType="petmily.domain.temp.TempPet">
        select *
        from TEMPPET
        where ABNUMBER = #{abNumber}
        and STATUS = '완료'
        and TNUMBER = (select max(TNUMBER) from TEMPPET)
    </select>


    <!--========================= 유기동물 수정 시 기존 임보 정보 삭제 ========================= -->
    <!-- 기존 임보 정보 delete -->
    <delete id="deleteCompleteWhenUpdateAB">
        delete from TEMPPET
        where ABNUMBER = #{abNumber}
        and STATUS = '완료'
    </delete>

    <!-- 임보 상태 '처리중' delete -->
    <delete id="deleteWaitingWhenUpdateAB">
        delete from TEMPPET
        where ABNUMBER = #{abNumber}
        and STATUS = '처리중'
    </delete>
</mapper>