<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.petmily.mapper.AbandonedAnimalMapper">

    <!--=======BasicMapper 메소드=======-->
    <select id="selectByPk" resultType="kh.petmily.domain.abandoned_animal.AbandonedAnimal">
        select *
        from ABANDONEDANIMAL
        where ABNUMBER = #{pk}
    </select>

    <insert id="insert">
        insert into ABANDONEDANIMAL
        (
        SNUMBER, NAME, SPECIES, KIND, GENDER, AGE, WEIGHT, LOCATION, ADMISSIONDATE,
        UNIQUENESS, DESCRIPTION, ANIMALSTATE, IMGPATH
        )
        values
        (
        #{sNumber}, #{name}, #{species}, #{kind}, #{gender}, #{age}, #{weight},
        #{location}, #{admissionDate}, #{uniqueness}, #{description}, #{animalState}
        <if test='imgPath != null'>
            , #{imgPath}
        </if>
        <if test='imgPath == null'>
            , 'no_image.png'
        </if>
        )
    </insert>

    <update id="update">
        update ABANDONEDANIMAL
        set
        SNUMBER = #{sNumber}, NAME = #{name}, SPECIES = #{species}, KIND = #{kind},
        GENDER = #{gender}, AGE = #{age}, WEIGHT = #{weight}, LOCATION = #{location},
        ADMISSIONDATE = #{admissionDate}, UNIQUENESS = #{uniqueness},
        DESCRIPTION = #{description}, ANIMALSTATE = #{animalState}
        <if test='imgPath != ""'>
            , IMGPATH = #{imgPath}
        </if>
        where ABNUMBER = #{abNumber}
    </update>

    <delete id="delete">
        delete
        from ABANDONEDANIMAL
        where ABNUMBER = #{pk}
    </delete>


    <!--================= 회원 페이지 =================-->

    <select id="selectCountWithCondition" resultType="int">
        select count(*)
        from ABANDONEDANIMAL
        <where>
            ANIMALSTATE in('보호', '임보')

            <if test="species != null and species != 'allSpecies'">
                and SPECIES = #{species}
            </if>

            <if test="gender != null and gender != 'allGender'">
                and GENDER = #{gender}
            </if>

            <if test="animalState != null and animalState != 'allAnimalState'">
                and ANIMALSTATE = #{animalState}
            </if>

            <if test="keyword != null and keyword != 'allKeyword'">
                and (NAME like '%' || #{keyword} || '%'
                or KIND like '%' || #{keyword} || '%'
                or AGE like '%' || #{keyword} || '%'
                or LOCATION like '%' || #{keyword} || '%')
            </if>
        </where>
    </select>

    <select id="selectIndexWithCondition" resultType="kh.petmily.domain.abandoned_animal.AbandonedAnimal">
        select * from
        (select ROWNUM as NUM, A.ABNUMBER, A.NAME, A.LOCATION, A.ADMISSIONDATE, A.IMGPATH from
        (select * from ABANDONEDANIMAL
        <where>
            ANIMALSTATE in('보호', '임보')

            <if test="species != null and species != 'allSpecies'">
                and SPECIES = #{species}
            </if>

            <if test="gender != null and gender != 'allGender'">
                and GENDER = #{gender}
            </if>

            <if test="animalState != null and animalState != 'allAnimalState'">
                and ANIMALSTATE = #{animalState}
            </if>

            <if test="keyword != null and keyword != 'allKeyword'">
                and (NAME like '%' || #{keyword} || '%'
                or KIND like '%' || #{keyword} || '%'
                or AGE like '%' || #{keyword} || '%'
                or LOCATION like '%' || #{keyword} || '%')
            </if>
        </where>
        <include refid="sort"/>
        ) A)
        where NUM between #{start} and #{end}
    </select>

    <select id="selectCountAdopted" resultType="int">
        select count(*)
        from ABANDONEDANIMAL
        <where>
            ANIMALSTATE = '입양'

            <if test="species != null and species != 'allSpecies'">
                and SPECIES = #{species}
            </if>

            <if test="gender != null and gender != 'allGender'">
                and GENDER = #{gender}
            </if>

            <if test="keyword != null and keyword != 'allKeyword'">
                and (NAME like '%' || #{keyword} || '%'
                or KIND like '%' || #{keyword} || '%'
                or AGE like '%' || #{keyword} || '%'
                or LOCATION like '%' || #{keyword} || '%')
            </if>
        </where>
    </select>

    <select id="selectIndexAdopted" resultType="kh.petmily.domain.abandoned_animal.AbandonedAnimal">
        select * from
        (select ROWNUM as NUM, AB.ABNUMBER, AB.NAME, AB.SPECIES, AB.KIND, AB.GENDER, AB.AGE, AB.WEIGHT, AB.IMGPATH from
        (select * from ABANDONEDANIMAL
        <where>
            ANIMALSTATE = '입양'

            <if test="species != null and species != 'allSpecies'">
                and SPECIES = #{species}
            </if>

            <if test="gender != null and gender != 'allGender'">
                and GENDER = #{gender}
            </if>

            <if test="keyword != null and keyword != 'allKeyword'">
                and (NAME like '%' || #{keyword} || '%'
                or KIND like '%' || #{keyword} || '%'
                or AGE like '%' || #{keyword} || '%'
                or LOCATION like '%' || #{keyword} || '%')
            </if>
        </where>
        <include refid="sort"/>
        ) AB)
        where NUM between #{start} and #{end}
    </select>

    <sql id="sort">
        <if test="sort == 'abNo'">
            order by ABNUMBER desc
        </if>
        <if test="sort == 'abNoAsc'">
            order by ABNUMBER asc
        </if>
    </sql>


    <!--================= 관리자 페이지 =================-->

    <select id="selectCount" resultType="int">
        select count(*)
        from ABANDONEDANIMAL

        <where>
            <if test="species != null and species != 'allSpecies'">
                and SPECIES = #{species}
            </if>

            <if test="gender != null and gender != 'allGender'">
                and GENDER = #{gender}
            </if>

            <if test="animalState != null and animalState != 'allAnimalState'">
                and ANIMALSTATE = #{animalState}
            </if>

            <if test="keyword != null and keyword != 'allKeyword'">
                and (NAME like '%' || #{keyword} || '%'
                or KIND like '%' || #{keyword} || '%'
                or AGE like '%' || #{keyword} || '%'
                or LOCATION like '%' || #{keyword} || '%'
                or
                SNUMBER in (
                select SNUMBER
                from SHELTER
                where LOCATION like '%' || #{keyword} || '%')
                or
                SNUMBER in (
                select SNUMBER
                from SHELTER
                where GROUPNAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
    </select>

    <select id="selectIndex" resultType="kh.petmily.domain.abandoned_animal.AbandonedAnimal">
        select * from
        (select ROWNUM as NUM, A.* from
        (select * from ABANDONEDANIMAL

        <where>
            <if test="species != null and species != 'allSpecies'">
                and SPECIES = #{species}
            </if>

            <if test="gender != null and gender != 'allGender'">
                and GENDER = #{gender}
            </if>

            <if test="animalState != null and animalState != 'allAnimalState'">
                and ANIMALSTATE = #{animalState}
            </if>

            <if test="keyword != null and keyword != 'allKeyword'">
                and (NAME like '%' || #{keyword} || '%'
                or KIND like '%' || #{keyword} || '%'
                or AGE like '%' || #{keyword} || '%'
                or LOCATION like '%' || #{keyword} || '%'
                or
                SNUMBER in (
                select SNUMBER
                from SHELTER
                where LOCATION like '%' || #{keyword} || '%')
                or
                SNUMBER in (
                select SNUMBER
                from SHELTER
                where GROUPNAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
        order by ABNUMBER desc
        ) A)
        where NUM between #{start} and #{end}
    </select>

    <select id="selectAll" resultType="kh.petmily.domain.abandoned_animal.AbandonedAnimal">
        select *
        from ABANDONEDANIMAL
        order by ABNUMBER
    </select>

    <select id="selectAllOnlyProtect" resultType="kh.petmily.domain.abandoned_animal.AbandonedAnimal">
        select *
        from ABANDONEDANIMAL
        <where>
            and ANIMALSTATE = '보호'
            and ABNUMBER not in (select ABNUMBER from ADOPT where STATUS in ('처리중', '완료'))
            and ABNUMBER not in (select ABNUMBER from TEMPPET where STATUS in ('처리중', '완료'))
        </where>
        order by ABNUMBER
    </select>

    <select id="selectByPkMax" resultType="int">
        select MAX(ABNUMBER)
        from ABANDONEDANIMAL
    </select>


    <!--====================================== 입양 ======================================-->
    <!--========== 입양 수정 폼에 받아올 유기동물 리스트 ==========-->

    <select id="selectAllAdoptWait" resultType="kh.petmily.domain.abandoned_animal.AbandonedAnimal">
        select *
        from ABANDONEDANIMAL
        where ANIMALSTATE = '보호'
          AND ABNUMBER
            in (select ABNUMBER from ADOPT where STATUS = '처리중')
        order by ABNUMBER
    </select>

    <select id="selectAllAdoptComplete" resultType="kh.petmily.domain.abandoned_animal.AbandonedAnimal">
        select *
        from ABANDONEDANIMAL
        where ANIMALSTATE = '입양'
          AND ABNUMBER
            in (select ABNUMBER from ADOPT where STATUS = '완료')
        order by ABNUMBER
    </select>


    <!--========== 수정 시 유기동물 상태 수정 ==========-->

    <update id="updateToAdopt">
        update ABANDONEDANIMAL
        set ANIMALSTATE = '입양'
        where ABNUMBER in (select ABNUMBER from ADOPT where STATUS = '완료')
    </update>

    <update id="updateToProtectInAdopt">
        update ABANDONEDANIMAL
        set ANIMALSTATE = '보호'
        where ABNUMBER in (select ABNUMBER from ADOPT where STATUS in ('거절', '처리중'))
    </update>


    <!--========== 입양완료 삭제 시 유기동물 상태 임보->보호 ==========-->
    <update id="updateToProtectForDeleteInAdopt">
        update ABANDONEDANIMAL
        set ANIMALSTATE = '보호'
        where ABNUMBER in (select ABNUMBER from ADOPT where STATUS = '완료' and ADNUMBER = #{adNumber})
    </update>


    <!--==================================== 임시보호 ====================================-->
    <!--========== 임시보호 수정 폼에 받아올 유기동물 리스트 ==========-->

    <select id="selectAllTempWait" resultType="kh.petmily.domain.abandoned_animal.AbandonedAnimal">
        select *
        from ABANDONEDANIMAL
        where ANIMALSTATE = '보호'
          AND ABNUMBER
            in (select ABNUMBER from TEMPPET where STATUS = '처리중')
        order by ABNUMBER
    </select>

    <select id="selectAllTempComplete" resultType="kh.petmily.domain.abandoned_animal.AbandonedAnimal">
        select *
        from ABANDONEDANIMAL
        where ANIMALSTATE = '임보'
          AND ABNUMBER
            in (select ABNUMBER from TEMPPET where STATUS = '완료')
        order by ABNUMBER
    </select>


    <!--========== 수정 시 유기동물 상태 수정 ==========-->

    <update id="updateToTemp">
        update ABANDONEDANIMAL
        set ANIMALSTATE = '임보'
        where ABNUMBER in (select ABNUMBER from TEMPPET where STATUS = '완료')
    </update>

    <update id="updateToProtectInTemp">
        update ABANDONEDANIMAL
        set ANIMALSTATE = '보호'
        where ABNUMBER in (select ABNUMBER from TEMPPET where STATUS in ('거절', '처리중'))
    </update>


    <!--========== 임시보호 완료 삭제 시 유기동물 상태 임보->보호 ==========-->
    <update id="updateToProtectForDeleteInTemp">
        update ABANDONEDANIMAL
        set ANIMALSTATE = '보호'
        where ABNUMBER in (select ABNUMBER from TEMPPET where STATUS = '완료' and TNUMBER = #{tNumber})
    </update>
</mapper>