<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.petmily.mapper.AdoptMapper">


    <!--=======BasicMapper 메소드=======-->

    <select id="selectByPk" resultType="kh.petmily.domain.adopt.Adopt">
        select *
        from ADOPT
        where ADNUMBER = #{pk}
    </select>

    <insert id="insert">
        insert into ADOPT(MNUMBER, ABNUMBER, RESIDENCE, MARITALSTATUS, JOB, STATUS)
        values (#{mNumber}, #{abNumber}, #{residence}, #{maritalStatus}, #{job}, '처리중')
    </insert>

    <update id="update">
        update ADOPT
        set MNUMBER = #{mNumber}, ABNUMBER = #{abNumber}, RESIDENCE = #{residence}, MARITALSTATUS = #{maritalStatus}, JOB = #{job}, STATUS = #{status}
        where ADNUMBER = #{adNumber}
    </update>

    <delete id="delete">
        delete from ADOPT
        where ADNUMBER = #{pk}
    </delete>


    <!--========== 마이페이지 입양 신청내역 ==========-->

    <select id="selectCountBymNumber" resultType="int">
        select count(*)
        from ADOPT
        where MNUMBER = #{mNumber}
    </select>

    <select id="selectIndexBymNumber" resultType="kh.petmily.domain.adopt.Adopt">
        select *
        from (select ROWNUM as NUM, A.*
              from (select * from ADOPT where MNUMBER = #{mNumber} order by ADNUMBER DESC) A)
        where NUM between #{start} and #{end}
    </select>


    <!--============== 관리자 페이지 ===============-->

    <insert id="adminInsert">
        insert into ADOPT(MNUMBER, ABNUMBER, RESIDENCE, MARITALSTATUS, JOB, STATUS)
        values (#{mNumber}, #{abNumber}, #{residence}, #{maritalStatus}, #{job}, #{status})
    </insert>

    <select id="selectCount" resultType="int">
        select count(*)
        from ADOPT
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                STATUS like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
    </select>

    <select id="selectIndex" resultType="kh.petmily.domain.adopt.Adopt">
        select *
        from (select ROWNUM as NUM, AD.*
        from (select *
        from ADOPT
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                STATUS like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
        order by ADNUMBER desc
        ) AD)
        where NUM between #{start} and #{end}
    </select>

    <select id="selectCountByStatus" resultType="int">
        select count(*)
        from ADOPT
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
    </select>

    <select id="selectIndexByStatus" resultType="kh.petmily.domain.adopt.Adopt">
        select *
        from (select ROWNUM as NUM, AD.*
        from (select *
        from ADOPT
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                RESIDENCE like '%' || #{keyword} || '%'
                or
                MARITALSTATUS like '%' || #{keyword} || '%'
                or
                JOB like '%' || #{keyword} || '%'
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
        order by ADNUMBER desc
        ) AD)
        where (NUM between #{start} and #{end}) and STATUS = #{status}
    </select>

    <select id="adoptApprove">
        {call
            declare
            begin

            update ADOPT set STATUS = '완료' where STATUS = '처리중'
            and ABNUMBER = (select AD.ABNUMBER
            from ADOPT AD join ABANDONEDANIMAL AB
            on AB.ABNUMBER = AD.ABNUMBER
                where AD.ADNUMBER = #{pk});

            update ABANDONEDANIMAL set ANIMALSTATE = '입양'
            where ABNUMBER in (select AD.ABNUMBER
            from ADOPT AD join ABANDONEDANIMAL AB
            on AD.ABNUMBER = AB.ABNUMBER
                where AD.ADNUMBER = #{pk});

            end
            }
    </select>

    <select id="adoptRefuse">
        update ADOPT set STATUS = '거절' where STATUS = '처리중'
        and ABNUMBER = (select AD.ABNUMBER
        from ADOPT AD join ABANDONEDANIMAL AB
        on AB.ABNUMBER = AD.ABNUMBER
        where AD.ADNUMBER = #{pk})
    </select>

    <select id="selectAllByAbNumber" resultType="kh.petmily.domain.adopt.Adopt">
        select *
        from ADOPT
        where ABNUMBER = #{abNumber}
    </select>

    <select id="selectAllCompleteByAbNumber" resultType="kh.petmily.domain.adopt.Adopt">
        select *
        from ADOPT
        where ABNUMBER = #{abNumber} and STATUS = '완료'
    </select>


    <!--========== 유기동물 수정 시 기존 입양 정보 삭제 ==========-->

    <delete id="deleteCompleteWhenUpdateAB">
        delete from ADOPT
        where ABNUMBER = #{abNumber} and STATUS = '완료'
    </delete>

    <delete id="deleteWaitingWhenUpdateAB">
        delete from ADOPT
        where ABNUMBER = #{abNumber} and STATUS = '처리중'
    </delete>
</mapper>