<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.petmily.mapper.AdoptReviewMapper">

    <!--=======BasicMapper 메소드=======-->
    <select id="selectByPk" resultType="kh.petmily.domain.adopt_review.AdoptReview">
        select *
        from BOARD
        where BNUMBER = #{pk}
    </select>

    <insert id="insert">
        insert into BOARD(MNUMBER, KINDOFBOARD, TITLE, CONTENT, IMGPATH, VIDEO, WRTIME, CHECKPUBLIC)
        values (#{mNumber}, #{kindOfBoard}, #{title}, #{content}, #{imgPath}, null, SYSDATE, #{checkPublic})
    </insert>

    <update id="update">
        update BOARD
        set TITLE = #{title}, CONTENT = #{content}, CHECKPUBLIC = #{checkPublic}, WRTIME = SYSDATE
        <if test='imgPath != null '>
            ,IMGPATH = #{imgPath}
        </if>
        where BNUMBER = #{bNumber}
    </update>

    <delete id="delete">
        delete from BOARD
        where BNUMBER = #{pk}
    </delete>

    <select id="selectCountBymNumber" resultType="java.lang.Integer">
        select count(*)
        from BOARD
        where MNUMBER = #{mNumber} and KINDOFBOARD = #{kindOfBoard}
    </select>

    <select id="selectIndexBymNumber" resultType="kh.petmily.domain.adopt_review.AdoptReview">
        select *
        from (select ROWNUM as NUM, A.*
              from (select * from BOARD where MNUMBER = #{mNumber} and KINDOFBOARD = #{kindOfBoard} order by BNUMBER DESC) A)
        where NUM between #{start} and #{end}
    </select>

    <!--======= 조건부 검색 게시글 개수 =======-->
    <select id="selectCountWithCondition" resultType="java.lang.Integer">
        select count(*)
        from BOARD
        <where>
            KINDOFBOARD = #{kindOfBoard}

            <if test="keyword != null and keyword != 'allKeyword' and searchType != null and 'title'.equals( searchType )">
                and TITLE like '%' || #{keyword} || '%'
            </if>

            <if test="keyword != null and keyword != 'allKeyword' and searchType != null and 'content'.equals( searchType )">
                and CONTENT like '%' || #{keyword} || '%'
            </if>

            <if test="keyword != null and keyword != 'allKeyword' and searchType != null and 'titleAndContent'.equals( searchType )">
                and (TITLE like '%' || #{keyword} || '%'
                or CONTENT like '%' || #{keyword} || '%')
            </if>

            <if test="keyword != null and keyword != 'allKeyword' and searchType != null and 'writer'.equals( searchType )">
                and (MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%'))
            </if>
        </where>
    </select>

    <!--======= 조건부 검색 =======-->
    <select id="selectIndexWithCondition" resultType="kh.petmily.domain.adopt_review.AdoptReview">
        select *
        from (select ROWNUM as NUM, A.*
        from (select *
        from BOARD
        <where>
            KINDOFBOARD = #{kindOfBoard}

            <if test="keyword != null and keyword != 'allKeyword' and searchType != null and 'title'.equals( searchType )">
                and TITLE like '%' || #{keyword} || '%'
            </if>

            <if test="keyword != null and keyword != 'allKeyword' and searchType != null and 'content'.equals( searchType )">
                and CONTENT like '%' || #{keyword} || '%'
            </if>

            <if test="keyword != null and keyword != 'allKeyword' and searchType != null and 'titleAndContent'.equals( searchType )">
                and (TITLE like '%' || #{keyword} || '%'
                or CONTENT like '%' || #{keyword} || '%')
            </if>

            <if test="keyword != null and keyword != 'allKeyword' and searchType != null and 'writer'.equals( searchType )">
                and (MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%'))
            </if>
        </where>
        <include refid="sort"/>
        ) A)
        where NUM between #{start} and #{end}
    </select>

    <sql id="sort">
        <if test="sort == 'adoptReviewNo'">
            order by BNUMBER desc
        </if>
        <if test="sort == 'adoptReviewNoAsc'">
            order by BNUMBER asc
        </if>
        <if test="sort == 'viewCount'">
            order by VIEWCOUNT desc
        </if>
    </sql>

    <select id="selectName" resultType="java.lang.String">
        select M.NAME
        from BOARD B inner join MEMBER M
        on B.MNUMBER = M.MNUMBER
        where B.BNUMBER = #{pk}
    </select>

    <select id="selectAll" resultType="kh.petmily.domain.adopt_review.AdoptReview">
        select *
        from BOARD
        where KINDOFBOARD = #{kindOfBoard}
        order by BNUMBER desc
    </select>

    <update id="updateViewCount">
        update BOARD
        set VIEWCOUNT = VIEWCOUNT + 1
        where BNUMBER = #{bNumber}
    </update>
</mapper>