<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.petmily.mapper.DonationMapper">

    <!--쿼리 수정 필요-->
    <!--=======BasicMapper 메소드=======-->
    <select id="selectByPk" resultType="kh.petmily.domain.donation.Donation">
        select *
        from DONATION
        where DNUMBER = #{pk}
    </select>

    <insert id="insert">
        insert into DONATION(ABNUMBER, MNUMBER, DONASUM, BANK, ACCOUNTHOLDER, ACCOUNTNUMBER)
        values (#{abNumber}, #{mNumber}, #{donaSum}, #{bank}, #{accountHolder}, #{accountNumber})
    </insert>

    <update id="update">
        update DONATION
        set ABNUMBER = #{abNumber}, MNUMBER = #{mNumber}, DONASUM = #{donaSum},
        BANK = #{bank}, ACCOUNTHOLDER = #{accountHolder}, ACCOUNTNUMBER = #{accountNumber}
        where DNUMBER = #{dNumber}
    </update>

    <delete id="delete">
        delete from DONATION
        where DNUMBER = #{pk}
    </delete>
    <!--=======BasicMapper 메소드=======-->

    <!--================= 관리자 페이지 =================-->

    <select id="selectCount" resultType="int">
        select count(*)
        from DONATION
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                BANK like '%' || UPPER(#{keyword}) || '%'
                or
                ACCOUNTHOLDER like '%' || #{keyword} || '%'
                or
                ACCOUNTNUMBER like '%' || #{keyword} || '%'
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
    </select>

    <select id="selectIndex" resultType="kh.petmily.domain.donation.Donation">
        select *
        from (select ROWNUM as NUM, D.*
        from (select *
        from DONATION
        <where>
            <if test="keyword != null and keyword != 'allKeyword'">
                and
                (
                BANK like '%' || UPPER(#{keyword}) || '%'
                or
                ACCOUNTHOLDER like '%' || #{keyword} || '%'
                or
                ACCOUNTNUMBER like '%' || #{keyword} || '%'
                or
                ABNUMBER in (
                select ABNUMBER
                from ABANDONEDANIMAL
                where NAME like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where ID like '%' || #{keyword} || '%')
                or
                MNUMBER in (
                select MNUMBER
                from MEMBER
                where NAME like '%' || #{keyword} || '%')
                )
            </if>
        </where>
        order by DNUMBER desc
        ) D)
        where NUM between #{start} and #{end}
    </select>

<!--    <select id="selectByContent" resultType="kh.petmily.domain.donation.Donation">-->
<!--        select D.*, AB.NAME, M.NAME-->
<!--        from DONATION D, ABANDONEDANIMAL AB, MEMBER M-->
<!--        where D.ABNUMBER = AB.ABNUMBER AND D.MNUMBER = M.MNUMBER and DNUMBER = #{dNumber}-->
<!--    </select>-->
</mapper>