<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.petmily.mapper.LookBoardMapper">

    <!--=======BasicMapper 메소드=======-->
    <select id="selectByPk" resultType="kh.petmily.domain.look_board.LookBoard">
        select *
        from LOOKANIMALBOARD
        where LANUMBER = #{pk}
    </select>

    <insert id="insert">
        insert into LOOKANIMALBOARD(MNUMBER, SPECIES, KIND, LOCATION, TITLE, CONTENT
        <if test='imgPath != null and imgPath !=""'>
            ,IMGPATH
        </if>
        )
        values (#{mNumber}, #{species}, #{kind}, #{location}, #{title}, #{content}

        <if test='imgPath != null and imgPath !=""'>
            ,#{imgPath}
        </if>
        )
    </insert>

    <update id="update">
        update LOOKANIMALBOARD
        set MNUMBER = #{mNumber},
            SPECIES  = #{species},
            KIND     = #{kind},
            LOCATION = #{location},
        <if test='imgPath != null and imgPath !=""'>
            IMGPATH = #{imgPath},
        </if>
            TITLE    = #{title},
            CONTENT  = #{content},
            WRTIME = #{wrTime}
        where LANUMBER = #{laNumber}
    </update>

    <delete id="delete">
        delete
        from LOOKANIMALBOARD
        where LANUMBER = #{pk}
    </delete>

    <select id="selectCountBymNumber" resultType="int">
        select count(*)
        from LOOKANIMALBOARD
        where MNUMBER = #{mNumber}
    </select>

    <select id="selectIndexBymNumber" resultType="kh.petmily.domain.look_board.LookBoard">
        select *
        from (select ROWNUM as NUM, A.*
              from (select * from LOOKANIMALBOARD where MNUMBER = #{mNumber} order by LANUMBER DESC) A)
        where NUM between #{start} and #{end}
    </select>

    <select id="selectCount" resultType="int">
        select count(*)
        from LOOKANIMALBOARD
    </select>

    <select id="selectIndex" resultType="kh.petmily.domain.look_board.LookBoard">
        select *
        from (select ROWNUM as NUM, A.*
        FROM (select *
        from LOOKANIMALBOARD
              order by LANUMBER desc
        ) A)
        where NUM between #{start} and #{end}
    </select>

    <select id="selectCountWithCondition" resultType="int">
        select count(*)
        from LOOKANIMALBOARD
        <where>
            <if test="species != null and species != 'allSpecies'">
                and SPECIES = #{species}
            </if>

            <if test="animalState != null and animalState != 'allAnimalState'">
                and ANIMALSTATE = #{animalState}
            </if>

            <if test="keyword != null and keyword != 'allKeyword'">
                and ( TITLE like '%' || #{keyword} || '%'
                or CONTENT like '%' || #{keyword} || '%'
                or KIND like '%' || #{keyword} || '%'
                or LOCATION like '%' || #{keyword} || '%' )
            </if>
        </where>
    </select>

    <select id="selectIndexWithCondition" resultType="kh.petmily.domain.look_board.LookBoard">
        select *
        from (select ROWNUM as NUM, A.*
        FROM (select *
        from LOOKANIMALBOARD
        <where>
            <if test="species != null and species != 'allSpecies'">
                and SPECIES = #{species}
            </if>

            <if test="animalState != null and animalState != 'allAnimalState'">
                and ANIMALSTATE = #{animalState}
            </if>

            <if test="keyword != null and keyword != 'allKeyword'">
                and ( TITLE like '%' || #{keyword} || '%'
                or CONTENT like '%' || #{keyword} || '%'
                or KIND like '%' || #{keyword} || '%'
                or LOCATION like '%' || #{keyword} || '%' )
            </if>
        </where>
        <include refid="sort"/>
        ) A)
        where NUM between #{start} and #{end}
    </select>

    <sql id="sort">
        <if test="sort == 'lno'">
            order by LANUMBER desc
        </if>
        <if test="sort == 'lnoAsc'">
            order by LANUMBER asc
        </if>
        <if test="sort == 'viewCount'">
            order by VIEWCOUNT desc
        </if>
    </sql>

    <select id="selectMemberId" resultType="java.lang.String">
        select M.ID
        from LOOKANIMALBOARD L
                inner join MEMBER M on L.MNUMBER = M.MNUMBER
        where L.LANUMBER = #{pk}
    </select>

    <select id="selectName" resultType="java.lang.String">
        select M.NAME
        from LOOKANIMALBOARD L
                 inner join MEMBER M on L.MNUMBER = M.MNUMBER
        where L.LANUMBER = #{pk}
    </select>

    <update id="updateViewCount">
        update LOOKANIMALBOARD
        set VIEWCOUNT = VIEWCOUNT + 1
        where LANUMBER = #{pk}
    </update>


    <!--=======look-find 연결=======-->
    <select id="selectMatchedFa" resultType="int">
        select FANUMBER
        from FINDANIMALBOARD
        <where>
            SPECIES = #{species}
            <if test="kind != '모름' and location != '모름'">
                and KIND = #{kind} and LOCATION = #{location}
            </if>
            <if test="kind == '모름' or location == '모름'">
                and 1 = 0
            </if>
        </where>
    </select>

    <update id="changeState">
        update LOOKANIMALBOARD
        set ANIMALSTATE = '매칭됨'
        where LANUMBER = #{pk}
    </update>

    <update id="backState">
        update LOOKANIMALBOARD
        set ANIMALSTATE = '보호'
        where LANUMBER = #{pk}
    </update>

    <update id="changeStateFind">
        update FINDANIMALBOARD
        set ANIMALSTATE = '매칭됨'
        where FANUMBER = #{faNumber}
    </update>

    <update id="backStateFind">
        update FINDANIMALBOARD
        set ANIMALSTATE = '실종'
        where FANUMBER = #{faNumber}
    </update>

    <select id="selectByPkMax" resultType="int">
        select MAX(LANUMBER)
        from LOOKANIMALBOARD
    </select>
</mapper>